layout_uv() {
  if [[ ! -f pyproject.toml ]]; then
    log_status 'No pyproject.toml found. Will initialize uv'
    uv init --quiet
  fi

  VIRTUAL_ENV=$(dirname $(dirname $(uv run which python)))

  PATH_add "$VIRTUAL_ENV/bin"
  export UV_ACTIVE=1  # or VENV_ACTIVE=1
  export VIRTUAL_ENV
}

layout_uv

export PYTHONDONTWRITEBYTECODE=1

# make sure everyone has a .env file even if they don't put anything in it
touch .env

dotenv
