site_name: GlueWork-Tracker
repo_url: "https://github.com/Ed-Gilmour/GlueWork-Tracker"
repo_name: "GlueWork-Tracker"
docs_dir: "docs"
site_dir: "dist/site"
theme:
  name: material
  logo: images/logo.png
  favicon: images/favicon.ico
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: light blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: light blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github-alt
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.path
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tabs.link
    - toc.follow
    - navigation.top
extra_css: []
watch:
  - src
plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths:
            - src
          options:
            show_if_no_docstring: true
            show_symbol_type_toc: true
            show_symbol_type_heading: true
            show_signature_annotations: false
            group_by_category: true
            show_category_heading: false
            show_root_heading: true
            signature_crossrefs: true
            merge_init_into_class: true
            annotations_path: source
            members_order: source
          inventories:
            - "https://docs.python.org/3/objects.inv"
  - awesome-pages
  - mkdocs-video:
      is_video: true
      video_controls: true
  - glightbox
markdown_extensions:
  # Allows for nicely styled notes and warnings: !!! note
  - admonition
  # Allows for adding attributes to markdown content: !(some-image){: align=left }
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      # https://facelessuser.github.io/pymdown-extensions/extensions/snippets/#snippets-notation
      base_path:
        # allow us to embed file paths from the root of the repo
        - !relative $config_dir
        # or relative from src directory
        - !relative $config_dir/src
        # or test directory
        - !relative $config_dir/test
      # fail the mkdocs build if any snippets link to missing files
      check_paths: true
  - pymdownx.magiclink
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: true
  - def_list # definition / description lists
  - pymdownx.tasklist: # Allows us to make a Tasklist: [x] some checked thing
      custom_checkbox: true
