name: Build Wheels
on:
  workflow_call:
    inputs:
      sha:
        description: 'the git sha to checkout'
        required: true
        type: string
jobs:
  build-components:
    runs-on: "ubuntu-24.04"
    name: "build-wheels"
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.sha }}
          fetch-depth: 0
          fetch-tags: true
      - uses: ./.github/actions/setup-environment
        id: runner-context
        with:
          install-uv: true
      - name: build-wheels
        env:
          PACKAGE_VERSION: "${{ steps.runner-context.outputs.package-version }}"
        run: |
          uv version "$PACKAGE_VERSION"
          uv build
      - name: "upload-artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: "wheels"
          path: "dist/*.whl"
