name: Checks
on:
  workflow_call:
    inputs:
      sha:
        description: 'the git sha to checkout'
        required: true
        type: string
jobs:
  check-components:
    runs-on: "ubuntu-24.04"
    name: "checks"
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.sha }}
          fetch-depth: 0
          fetch-tags: true
      - uses: ./.github/actions/setup-environment
        id: runner-context
        with:
          install-uv: true
      - name: check
        env:
          PACKAGE_VERSION: "${{ steps.runner-context.outputs.package-version }}"
        run: |
          uv version "$PACKAGE_VERSION"
          uv sync
          uv run ruff format --check
          uv run ruff check
          uv run pyright
          uv run pytest
